<ul class="nav nav-tabs" style="border-bottom: 0px;">
  <li class="navbar-right" style="padding-right:60px;">
    <form class="navbar-form navbar-right" action="{{ path('my_knowledge_share') }}" method="get" style="padding-top:0px;margin:4px;margin-bottom:20px;">
      <div class="input-group">
        <input class="form-control" placeholder="输入关键字检索" name="keyword">
        <span class="input-group-btn">
          <button class="btn btn-default btn-search"> <i class="fa fa-fw  fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </li>
</ul>