{% extends 'AppBundle::base.html.twig' %}
{% block left_header %}
    {% include 'AppBundle::left-header.html.twig' %}
{% endblock %}
{% block base_content %}
    <div class="content">
        <div class="content-block new-content">
            {% block navTabs %}
            <br>
            {% endblock %}
            <div class="row" id="knowledge-list">
                {% if knowledges is defined and knowledges %}
                    {% for knowledge in knowledges %}
                        {% if knowledge.toread is not defined %}
                            {% set user = users[knowledge.userId]|default(null) %}
                            {% set knowledgeTag = knowledgeTags[knowledge.id].knowledgeTag|default(null) %}
                            {% include "AppBundle:Default:single-knowledge-list.html.twig" %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="panel-title"><h4 align="center">---暂无记录---</h4></div>
                {% endif %}
            </div>
            {{ web_macro.paginator(paginator) }}
        </div>
    </div>
{% endblock %}
{% block aside %}
    {% include 'AppBundle::aside.html.twig' %}
{% endblock %}